@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lato');

#site-title {
  display: inline-block;
  margin-left: 1%;
}

.navbar {
  margin: 15px 2.5% 0 0;
}
