@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
  font-family: 'Lato';
}

#trail-list, .trail-list {
  width: 100%;
}

.trail {
  width: 90%;
  height: 100px;
  line-height: 100px;
  padding: 0 10px;
  margin: 20px auto;
  border-radius: 2.5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  h3 {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    margin: 0;
  }

  .distance {
    color: #70DB93;
    font-size: 2em;
    line-height: 100%;
    vertical-align: middle;
  }

  .map-link {
    color: #6fb488;
    float: right;
    margin-right: 5%;
    font-size: 2em;

    &:hover {
      color: #469f66;
    }
  }

  .fa-check {
    float: right;
    font-size: 2em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #d7d7d7;
    margin-right: 2.5%;

    &:hover {
      color: #329555;
      cursor: pointer;
    }
  }
}
